:root {
    --dark-cerulean: #124e78;
    --maastricht-blue: #0b132b;
    --navy: var(--navy)
    --yankees-blue: #1C2541;
    --sea-serpent: #5bc0be;
    --aquamarine: #6fffe9;
    --react: azure;
  }

html{
    background-image: url('https://geeanalytics.files.wordpress.com/2016/09/masflight-for-wordpress.png');
    
}
git :window-inactive
h1{
    color: antiquewhite
}

body {
    margin: 0;
    font-family: 'Sage';
    font-weight:100;
    color: antiquewhite
  }

.container {
    display: flex;
    text-indent: 88px;
    margin-top: 70px;
    margin-left: 400px;
   
    height: 400px;
    width: 300px;
    border: 1px solid var(--react);
    border-radius: 15px;
    opacity: 0.75;
    background-color: navy; 
    
}
#div2{
    color: antiquewhite
}

.header{
    display: flex;
    justify-content: center;
    color:#e8edee;
    font-size:xx-large;
    font-weight: 100;
    font-family: 'Sage';
}

.para{
    display:flex;
    text-align: left;
    margin-top: 70px;
    margin-left: -150px;
    margin-right: 25px;
    text-decoration-color: antiquewhite;
}

.container2 {
    display: flex;
    text-indent: 30px;
    margin-top: -403px;
    margin-left: 750px;
    
    height: 400px;
    width: 320px;
    opacity: 0.75;
    border: 1px solid var(--react);
    border-radius: 15px;
    background-color: navy; 
}

.container3 {
    display: flex;
    text-indent: 90px;
    font-size: 20px;
    text-align:right;
    margin-top: 45px;
    margin-left: 400px;
    height: 400px;
    width: 1020px;
    opacity: 0.75;
    border: 1px solid var(--react);
    border-radius: 15px;
    background-color: navy;  
}


.container4 {
    display: flex;
    text-indent: 100px;
    margin-top: -850px;
    margin-left: 1100px;
    height: 400px;
    width: 320px;
    opacity: 0.75;
    border: 1px solid var(--react);
    border-radius: 15px;
    background-color: navy; 
}

.menubar {
    display: flex;
    text-indent: 40px;
    margin-top: -400px;
    margin-right: 900px;
    margin-left: 40px;
    height: 700px;
    width: 300px;
    border: 1px solid var(--react);
    background-color: navy; 
    border-radius: 20px;
}

.list{
    display: block;
    margin-top: 100px;
    margin-left: -150px;
    text-align: left;
    list-style-type: none;
}

.list2{
    display: block;
    margin-top: 100px;
    margin-left: -280px;
    list-style-type: none;
    text-align: center;
    font-size: x-large;
}